---
import Layout from "../layouts/Layout.astro";
---

<Layout title="crew">
  <div class="dummy-header"><!--dummy header--></div>
  <div class="grid-container grid-container--crew flow">
    <h1 class="numbered-title">
      <span aria-hidden="true">02</span> Meet your crew
    </h1>
    <img src="/public/assets/crew/image-douglas-hurley.png" alt="" />

    <div class="tab-list underline-indicators flex">
      <button aria-selected="true" class=""></button>
      <button aria-selected="true" class=""></button>
      <button aria-selected="true" class=""></button>
      <button aria-selected="true" class=""></button>
    </div>

    <article class="crew-info">
      <h2>Commander</h2>
      <h3>Douglas Hurley</h3>
      <p>
        Douglas Gerald Hurley is an American engineer, former Marine Corps pilot
        and former NASA astronaut. He launched into space for the third time as
        commander of Crew Dragon Demo-2.
      </p>
    </article>
  </div>
</Layout>
