---
import Layout from "../layouts/Layout.astro";
import Crew from "../components/Crew";
---

<Layout title="crew">
  <div class="crew-container crew">
    <Crew client:load />
  </div>
</Layout>

<style>
  .crew-container {
    display: grid;
    place-items: center;
    height: 100dvh;
  }
</style>
