---
import Layout from "../layouts/Layout.astro";
import Destinations from "../components/destinations";
---

<Layout title="Destination">
  <div class="destination-container destination">
    <Destinations client:load />
  </div>
</Layout>

<style>
  .destination-container {
    display: grid;
    place-items: center;
    height: 100dvh;
  }
</style>
