---
import Layout from "../layouts/Layout.astro";
import TechnologyComponent from "../components/TechnologyComponent";
---

<Layout title="destination">
  <div class="technology-container technology">
    <TechnologyComponent client:load />
  </div>
</Layout>

<style>
  .technology-container {
    display: grid;
    place-items: center;
    height: 100dvh;
  }
</style>
