---
const currentPath = Astro.url.pathname;
---

<header class="primary-header flex">
  <div class="logo">
    <img src="/assets/shared/logo.svg" alt="space tourism logo" class="logo" />
  </div>
  <button class="mobile-nav-toggle" aria-controls="primary-navigation">
    <span class="sr-only" aria-expanded="false"></span></button
  >
  <nav>
    <ul
      id="primary-navigation"
      data-visible="false"
      class="primary-navigation underline-indicators flex"
    >
      <li class={currentPath === "/" ? "active" : ""}>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/"
          ><span>00</span>Home
        </a>
        <li class={currentPath.startsWith("/destination") ? "active" : ""}>
          <a
            class="ff-sans-cond uppercase text-white letter-spacing-2"
            href="/destination/"><span>01</span>Destination</a
          >
          <li class={currentPath.startsWith("/crew") ? "active" : ""}>
            <a
              class="ff-sans-cond uppercase text-white letter-spacing-2"
              href="/crew/"><span>02</span>Crew</a
            >
            <li class={currentPath.startsWith("/technology") ? "active" : ""}>
              <a
                class="ff-sans-cond uppercase text-white letter-spacing-2"
                href="/technology/"><span>03</span>Technology</a
              >
            </li>
          </li>
        </li>
      </li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const nav = document.querySelector(".primary-navigation");
    const navToggle = document.querySelector(".mobile-nav-toggle");

    navToggle.addEventListener("click", () => {
      const visibility = nav.getAttribute("data-visible");
      const isVisible = visibility === "true";

      nav.setAttribute("data-visible", (!isVisible).toString());
      navToggle.setAttribute("aria-expanded", (!isVisible).toString());
    });
  });
</script>
